<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Jack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bj.css') }}">
    <script defer src="{{ url_for('static', filename='bj.js') }}"></script>
</head>
<body>
<div class="header">Black Jack</div>
<div class="table" id="table">
    <div class="bank_hand" id="bank_hand"></div>
    <div class="player_hand" id="player_hand"> </div>

</div>

    <div class="controls">
        <button id="hit-btn" class="start-btn btn">Hit</button>
        <button id="stay-btn" class="next-btn btn">Stay</button>
    </div>

</body>
</html>